torch
transformers
datasets
pylint
pyyaml
pytorch-lightning
pyarrow==3.0.0
hydra
hydra-core
pandas
tqdm
tensorboard
azureml-sdk
azureml-defaults
azureml-mlflow
matplotlib
sklearn
scipy
cloudpickle==1.9